@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
:root {
  --body-background: #FFFFFF;
  --button-background: #EAECF0;
  --text-color: #101828;
  --footer-text: #667085;
  --hover-color: #D0D5DD;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.linktree{
  background-color: var(--body-background);
  color: var(--text-color);
  position: relative;
  padding-top: 2vh;
}
.profile{
  width: 20%;
  margin: 3vh 40% 0;
  text-align: center;
}
.profile img{
  border-radius: 50%;
  width: 50%;
}
.profile h3{
  padding-top: 2vh;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 30px;
}
#slack{
  display: none;
}
.share{
  position: absolute;
  top: 2vh;
  right: 15%;
  width: 10%;
}
.share img{
  width: 50%;
}
.share-mobile{
  display: none;
}
.links{
  padding-top: 9vh;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  gap: 2vh;
}
.links a{
  height: 12vh;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--button-background);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 28px;
  padding-top: 3vh;
}
.links a:hover{
background-color: var(--hover-color);
}
.git-slack{
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5vh 40% 10vh;
  width: 20%;
  display: flex;
  gap: 5%;
}
.git-slack a{
  text-align: center;
  width: 10%;
}
.linktree hr{
  color: var(--footer-text);
  opacity: 0.3;
}
footer{
  padding-top: 5vh;
  margin: 0 5% 3vh;
  display: flex;
  justify-content: space-between;
}
footer p{
  color: var(--footer-text);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 24px;
}
footer a{
  width: 20%;
}
footer a img{
  width: 80%;
}

/* madia query 1 */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .linktree{
    background-color: var(--body-background);
    color: var(--text-color);
    position: relative;
    padding-top: 2vh;
  }
  .profile{
    width: 30%;
    margin: 3vh 40% 0;
    text-align: center;
  }
  .profile img{
    border-radius: 50%;
    width: 50%;
  }
  .profile h3{
    padding-top: 2vh;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 30px;
  }
  #slack{
    display: none;
  }
  .share{
    position: absolute;
    top: 2vh;
    right: 15%;
    width: 10%;
  }
  .share img{
    width: 70%;
  }
  .links{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    gap: 2vh;
  }
  .links a{
    height: 8vh;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--button-background);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 28px;
    padding-top: 3vh;
  }
  .links a:hover{
  background-color: var(--hover-color);
  }
  .git-slack{
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1vh 30% 5vh;
    width: 40%;
    display: flex;
    gap: 3%;
  }
  .git-slack a{
    text-align: center;
    width: 10%;
  }
  .linktree hr{
    color: var(--footer-text);
    opacity: 0.3;
  }
  footer{
    padding-top: 5vh;
    margin: 0 5% 3vh;
    display: flex;
    justify-content: space-between;
  }
  footer p{
    color: var(--footer-text);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  footer a{
    width: 20%;
  }
  footer a img{
    width: 100%;
  }
}
/* media query 2 */
@media screen and (min-width: 0px) and (max-width: 600px) {
  .linktree{
    background-color: var(--body-background);
    color: var(--text-color);
    position: relative;
    padding-top: 2vh;
  }
  .profile{
    width: 50%;
    margin: 3vh 25% 0;
    text-align: center;
  }
  .profile img{
    border-radius: 50%;
    width: 50%;
  }
  .profile h3{
    padding-top: 2vh;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 30px;
  }
  #slack{
    display: none;
  }
  .share{
    display: none;
  }
  .share-mobile{
    display: block;
    position: absolute;
    top: 4vh;
    right: 5%;
    width: 15%;
  }
  .share-mobile img{
    width: 70%;
  }
  
  .links{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    gap: 2vh;
  }
  .links a{
    height: 9vh;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--button-background);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 28px;
    padding-top: 3vh;
  }
  .links a:hover{
  background-color: var(--hover-color);
  }
  .git-slack{
    padding-top: 7vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1vh 30% 5vh;
    width: 40%;
    display: flex;
    gap: 20%;
  }
  .git-slack a{
    text-align: center;
    width: 10%;
  }
  .linktree hr{
    color: var(--footer-text);
    opacity: 0.3;
    margin-top: 10vh;
  }
  footer{
    padding-top: 5vh;
    margin: 0 5% 3vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  footer p{
    color: var(--footer-text);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  footer a{
    width: 100%;
  }
  footer a img{
    width: 40%;
  }
}
/* media query 3 */
@media screen and (max-width: 400px) {
  .profile{
    width: 70%;
    margin: 3vh 15% 0;
    text-align: center;
  }
  .profile img{
    border-radius: 50%;
    width: 40%;
  }
  .profile h3{
    padding-top: 2vh;
    font-weight: 700;
    font-size: 1rem;
    line-height: 30px;
  }
  .links a{
    height: 9vh;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--button-background);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 28px;
    padding-top: 3vh;
  }
}
@media screen and (max-width: 330px) {
 .links a{
    height: 9vh;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--button-background);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    padding-top: 3vh;
  }
  footer p{
    color: var(--footer-text);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 24px;
  }
}
@media screen and (max-width: 300px) {
  .links a{
     height: 9vh;
     text-align: center;
     color: var(--text-color);
     text-decoration: none;
     background-color: var(--button-background);
     border-radius: 8px;
     font-weight: 500;
     font-size: 0.9rem;
     line-height: 28px;
     padding-top: 3vh;
   }
 }